.game-body {
  width: 480px;
  height: 480px;
  margin: 0px;
}

.game-container {
  margin: 20px auto;
  position: relative;
  padding: 10px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  color: #776E65;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.game-container .game-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
  z-index: 100;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.game-container .game-message p {
  font-size: 60px;
  font-weight: bold;
  height: 120px;
  line-height: 60px;
  margin-top: 170px;
}

.game-container .game-message .lower {
  display: block;
  margin-top: 20px;
}

.game-container .game-message a.retry-button {
  display: inline-block;
  background: #8f7a66;
  color: #000;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  margin-bottom: 20px;
  margin-left: 9px;
}

.game-container .game-message a.keep-playing-button {
  display: none;
}

.game-container .game-message.game-won {
  background: rgba(0, 71, 10, 0.7);
  color: #f9f6f2;
}

.game-container .game-message.game-won a.keep-playing-button {
  display: inline-block;
}

.game-container .game-message.game-won,
.game-container .game-message.game-over {
  display: block;
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 5px;
}

.grid-row:last-child {
  margin-bottom: 0;
}

.grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.grid-cell {
  width: 92px;
  height: 92px;
  margin-right: 5px;
  float: left;
  border-radius: 3px;
}

.grid-cell:last-child {
  margin-right: 0;
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile,
.tile .tile-inner {
  width: 92px;
  height: 92px;
  line-height: 95px;
  font-size: 45px !important;
}

.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 97px);
  -moz-transform: translate(0px, 97px);
  transform: translate(0px, 97px);
}

.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 194px);
  -moz-transform: translate(0px, 194px);
  transform: translate(0px, 194px);
}

.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 291px);
  -moz-transform: translate(0px, 291px);
  transform: translate(0px, 291px);
}

.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 388px);
  -moz-transform: translate(0px, 388px);
  transform: translate(0px, 388px);
}

.tile.tile-position-2-1 {
  -webkit-transform: translate(97px, 0px);
  -moz-transform: translate(97px, 0px);
  transform: translate(97px, 0px);
}

.tile.tile-position-2-2 {
  -webkit-transform: translate(97px, 97px);
  -moz-transform: translate(97px, 97px);
  transform: translate(97px, 97px);
}

.tile.tile-position-2-3 {
  -webkit-transform: translate(97px, 194px);
  -moz-transform: translate(97px, 194px);
  transform: translate(97px, 194px);
}

.tile.tile-position-2-4 {
  -webkit-transform: translate(97px, 291px);
  -moz-transform: translate(97px, 291px);
  transform: translate(97px, 291px);
}

.tile.tile-position-2-5 {
  -webkit-transform: translate(97px, 388px);
  -moz-transform: translate(97px, 388px);
  transform: translate(97px, 388px);
}

.tile.tile-position-3-1 {
  -webkit-transform: translate(194px, 0px);
  -moz-transform: translate(194px, 0px);
  transform: translate(194px, 0px);
}

.tile.tile-position-3-2 {
  -webkit-transform: translate(194px, 97px);
  -moz-transform: translate(194px, 97px);
  transform: translate(194px, 97px);
}

.tile.tile-position-3-3 {
  -webkit-transform: translate(194px, 194px);
  -moz-transform: translate(194px, 194px);
  transform: translate(194px, 194px);
}

.tile.tile-position-3-4 {
  -webkit-transform: translate(194px, 291px);
  -moz-transform: translate(194px, 291px);
  transform: translate(194px, 291px);
}

.tile.tile-position-3-5 {
  -webkit-transform: translate(194px, 388px);
  -moz-transform: translate(194px, 388px);
  transform: translate(194px, 388px);
}

.tile.tile-position-4-1 {
  -webkit-transform: translate(291px, 0px);
  -moz-transform: translate(291px, 0px);
  transform: translate(291px, 0px);
}

.tile.tile-position-4-2 {
  -webkit-transform: translate(291px, 97px);
  -moz-transform: translate(291px, 97px);
  transform: translate(291px, 97px);
}

.tile.tile-position-4-3 {
  -webkit-transform: translate(291px, 194px);
  -moz-transform: translate(291px, 194px);
  transform: translate(291px, 194px);
}

.tile.tile-position-4-4 {
  -webkit-transform: translate(291px, 291px);
  -moz-transform: translate(291px, 291px);
  transform: translate(291px, 291px);
}

.tile.tile-position-4-5 {
  -webkit-transform: translate(291px, 388px);
  -moz-transform: translate(291px, 388px);
  transform: translate(291px, 388px);
}

.tile.tile-position-5-1 {
  -webkit-transform: translate(388px, 0px);
  -moz-transform: translate(388px, 0px);
  transform: translate(388px, 0px);
}

.tile.tile-position-5-2 {
  -webkit-transform: translate(388px, 97px);
  -moz-transform: translate(388px, 97px);
  transform: translate(388px, 97px);
}

.tile.tile-position-5-3 {
  -webkit-transform: translate(388px, 194px);
  -moz-transform: translate(388px, 194px);
  transform: translate(388px, 194px);
}

.tile.tile-position-5-4 {
  -webkit-transform: translate(388px, 291px);
  -moz-transform: translate(388px, 291px);
  transform: translate(388px, 291px);
}

.tile.tile-position-5-5 {
  -webkit-transform: translate(388px, 388px);
  -moz-transform: translate(388px, 388px);
  transform: translate(388px, 388px);
}

@media screen and (max-width: 520px) {
  .game-body {
    width: 270px;
    height: 270px;
  }

  .game-container {
    margin: 20px auto;
    position: relative;
    padding: 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    color: #776E65;
    border-radius: 6px;
    width: 280px;
    height: 280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #f9f6f2;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .game-container .game-message p {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 120px;
  }

  .game-container .game-message .lower {
    display: block;
    margin-top: 29px;
  }

  .game-container .game-message a.retry-button {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    margin-bottom: 10px;
    margin-left: 9px;
  }

  .game-container .game-message a.keep-playing-button {
    display: none;
  }

  .game-container .game-message.game-won {
    background: rgba(0, 71, 10, 0.7);
    color: #f9f6f2;
  }

  .game-container .game-message.game-won a.keep-playing-button {
    display: inline-block;
  }

  .game-container .game-message.game-won,
  .game-container .game-message.game-over {
    display: block;
  }

  .grid-container {
    position: absolute;
    z-index: 1;
  }

  .grid-row {
    margin-bottom: 5px;
  }

  .grid-row:last-child {
    margin-bottom: 0;
  }

  .grid-row:after {
    content: "";
    display: block;
    clear: both;
  }

  .grid-cell {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    float: left;
    border-radius: 3px;
  }

  .grid-cell:last-child {
    margin-right: 0;
  }

  .tile-container {
    position: absolute;
    z-index: 2;
  }

  .tile,
  .tile .tile-inner {
    width: 48px;
    height: 48px;
    line-height: 50px;
    font-size: 30px !important;
  }

  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 53px);
    -moz-transform: translate(0px, 53px);
    transform: translate(0px, 53px);
  }

  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 106px);
    -moz-transform: translate(0px, 106px);
    transform: translate(0px, 106px);
  }

  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 159px);
    -moz-transform: translate(0px, 159px);
    transform: translate(0px, 159px);
  }

  .tile.tile-position-1-5 {
    -webkit-transform: translate(0px, 212px);
    -moz-transform: translate(0px, 212px);
    transform: translate(0px, 212px);
  }

  .tile.tile-position-2-1 {
    -webkit-transform: translate(53px, 0px);
    -moz-transform: translate(53px, 0px);
    transform: translate(53px, 0px);
  }

  .tile.tile-position-2-2 {
    -webkit-transform: translate(53px, 53px);
    -moz-transform: translate(53px, 53px);
    transform: translate(53px, 53px);
  }

  .tile.tile-position-2-3 {
    -webkit-transform: translate(53px, 106px);
    -moz-transform: translate(53px, 106px);
    transform: translate(53px, 106px);
  }

  .tile.tile-position-2-4 {
    -webkit-transform: translate(53px, 159px);
    -moz-transform: translate(53px, 159px);
    transform: translate(53px, 159px);
  }

  .tile.tile-position-2-5 {
    -webkit-transform: translate(53px, 212px);
    -moz-transform: translate(53px, 212px);
    transform: translate(53px, 212px);
  }


  .tile.tile-position-3-1 {
    -webkit-transform: translate(106px, 0px);
    -moz-transform: translate(106px, 0px);
    transform: translate(106px, 0px);
  }

  .tile.tile-position-3-2 {
    -webkit-transform: translate(106px, 53px);
    -moz-transform: translate(106px, 53px);
    transform: translate(106px, 53px);
  }

  .tile.tile-position-3-3 {
    -webkit-transform: translate(106px, 106px);
    -moz-transform: translate(106px, 106px);
    transform: translate(106px, 106px);
  }

  .tile.tile-position-3-4 {
    -webkit-transform: translate(106px, 159px);
    -moz-transform: translate(106px, 159px);
    transform: translate(106px, 159px);
  }

  .tile.tile-position-3-5 {
    -webkit-transform: translate(106px, 212px);
    -moz-transform: translate(106px, 212px);
    transform: translate(106px, 212px);
  }


  .tile.tile-position-4-1 {
    -webkit-transform: translate(159px, 0px);
    -moz-transform: translate(159px, 0px);
    transform: translate(159px, 0px);
  }

  .tile.tile-position-4-2 {
    -webkit-transform: translate(159px, 53px);
    -moz-transform: translate(159px, 53px);
    transform: translate(159px, 53px);
  }

  .tile.tile-position-4-3 {
    -webkit-transform: translate(159px, 106px);
    -moz-transform: translate(159px, 106px);
    transform: translate(159px, 106px);
  }

  .tile.tile-position-4-4 {
    -webkit-transform: translate(159px, 159px);
    -moz-transform: translate(159px, 159px);
    transform: translate(159px, 159px);
  }

  .tile.tile-position-4-5 {
    -webkit-transform: translate(159px, 212px);
    -moz-transform: translate(159px, 212px);
    transform: translate(159px, 212px);
  }

  .tile.tile-position-5-1 {
    -webkit-transform: translate(212px, 0px);
    -moz-transform: translate(212px, 0px);
    transform: translate(212px, 0px);
  }

  .tile.tile-position-5-2 {
    -webkit-transform: translate(212px, 53px);
    -moz-transform: translate(212px, 53px);
    transform: translate(212px, 53px);
  }

  .tile.tile-position-5-3 {
    -webkit-transform: translate(212px, 106px);
    -moz-transform: translate(212px, 106px);
    transform: translate(212px, 106px);
  }

  .tile.tile-position-5-4 {
    -webkit-transform: translate(212px, 159px);
    -moz-transform: translate(212px, 159px);
    transform: translate(212px, 159px);
  }

  .tile.tile-position-5-5 {
    -webkit-transform: translate(212px, 212px);
    -moz-transform: translate(212px, 212px);
    transform: translate(212px, 212px);
  }
}
